<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BaseAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DB747CAF1CF69E8300E4BA12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB747CC81CF69E8400E4BA12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB747CD31CF69E8400E4BA12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
